@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  color: var(--foreground);
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.message-container {
  min-width: 43vw; 
  min-height: 70vh; 
  max-width: 43vw; 
  max-height: 70vh; 
  border: 0.063rem solid #ccc;
  padding: 0.625rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column-reverse;
}
.message-container::-webkit-scrollbar {
  width: 0; 
  height: 0; 
}
.message-container {
  scrollbar-width: none; 
}
.message-container {
  -ms-overflow-style: none; 
}

.text-right-box, .text-left-box {
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px 0;
  max-width: 90%;
  word-wrap: break-word;
  white-space: pre-line;
}

.text-right-box {
  align-self: flex-end;
}

.text-left-box {
  align-self: flex-start;
}

.imagen-left-box {
  max-width: 40%; 
  max-height: 40vh; 
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px 0;
}

.inputbonito {
  max-height: 10vh;
  flex-grow: 1;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 5px;
  direction: ltr;
  vertical-align: top;
  resize: none;
  outline: none;
  text-align: left;
  overflow-x: auto;
  margin: 5px 0;
  flex-shrink: 1;

}

.imagenbutton {
  background-image: url("/recursos/786306.png");
  background-size: 100% 100%;
  background-position: center;
  width: 3vw;
  height: 6vh;
  border: none;
  cursor: pointer;
  flex-shrink: 1;

}

.contenedor-inputs {
  display: flex;
  max-height: 12vh;
  align-items: center;
  justify-content: flex-end;
  gap: 1vw;
  margin-top: 1vw;
  flex-shrink: 1;

}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  width: 50vw;
  max-height: 95vh;
  margin-left: auto; 
  margin-right: auto; 
  overflow: hidden;
}
.contendor-global{
  background-image: url("/recursos/LOGONARVAL.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  width: 100vw; 
  height: 100vh;
  align-items: center;
  display: flex;
}

@media (max-width: 550px) {
  .message-container {
    height: 50vh; 
    width: 90%; 
  }

  .imagen-left-box {
    width: 50%; 
    max-width: 250px; 
    margin: 10px 0;
  }

  .contenedor-inputs {
    width: 100%; 
    margin-bottom: 10px;
  }

  .inputbonito {
    width: 100%; 
    margin-bottom: 10px;
  }

  .imagenbutton {
    width: 40px; 
    height: 40px;
  }
}

.custom-hover {
  transition: color 0.2s;
}

.custom-hover:hover {
  color: #FFF44F;
  font-weight: bold;
}
